<br/>
  <h2><center>Editar equipe</center></h2>
<br/>
<%= form_for(@team) do |f| %>

  <% if @team.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-dismissible alert-danger">
        <p><h5> <%= "Existe(m) #{pluralize(@team.errors.count, 'erro(s)')} no formulário:" %></h5></p>
      <ul>
      <% @team.errors.full_messages.each do |message| %>
          <h6><li><%= message %></li></p></h6>
      <% end %>
      </ul>
      </div>
    </div>
    <br>
  <% end %>

  <div class="col-sm-15" "panel panel-default">
    <div class="col-sm-3" "panel-heading">
      <ul class="nav nav-pills nav-stacked">
      <li class="active"><%= link_to t('buttons.home'),root_path %></li>
      <li class="danger"><%= link_to "Usuários", user_profile_index_path %></li>
      <li class="warning"></span><%= link_to "Equipes", teams_path %></li>
      <li class="success"><a href="#">Projetos</a></li>
      <li class="info"><a href="#">Relatórios</a></li>
      </ul>
    </div>
    <div class="col-sm-9" "panel-body">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><center>Usuário</center></h3>
        </div>
      </div>
      <div class="panel-body">
        <form class="form-horizontal">
          <fieldset>
            <legend><center>Informações</center></legend>
            <div class="form-group">
              <label for="inputDescription" class="col-lg-4 control-label">Descrição: </label>
              <div class="col-lg-40">
                <%= f.text_field :description, required:true %>
              </div>
            </div>
      </div>

      <%= f.submit t('buttons.save'), class: "btn btn-primary" %> |
      <%= link_to t('buttons.back'), teams_path, class: "btn btn-success" %>

    </div>
  </div>

<% end %>
