<%= form_tag team_users_edit_multiple_path do %>

  <div class="col-sm-9">
    <div class="panel">

      <div class="panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><center>Visualização da equipe</center></h3>
        </div>
      </div>
      <%# 13.5px %>
      <div class="panel-body">
        <span class="title"> Descrição: </span><%= @team.description %>

        <br><br>
        <%= hidden_field_tag "team_id", @team.id %>

        <span class="title">Usuários:</span>
        <ul>
          <% @team.users.each do |user| %>
            <li><%= user.user_profile.name %></li>
          <% end %>
        </ul>

        <%# adicionado %>
        <hr style="border-top-color: dimgray;">
        <span class="title">Projeto:</span> <br><br>

        <table class="table table-striped table-hover ">

          <thead>
            <tr>

              <th>Descrição</th>
              <th>Qtd. sprints</th>
              <th>Qtd. atividades</th>

              <% unless current_user_total? %>
                <th width="150"></th>
              <% end %>

            </tr>
          </thead>

          <tbody>
            <% if @team.project.present? %>
              <tr>

                <td>
                  <%= @team.project.description %>
                </td>

                <td>
                  <%= @team.project.sprints.count %>
                </td>

                <td>
                  <% activities_count = 0 %>
                  <% @team.project.sprints.each do |sprint| %>
                    <% activities_count += sprint.activities.count %>
                  <% end %>

                  <%= activities_count %>
                </td>

                <%# editado %>
                <%# <td align="center">
                <%#   <%= link_to "Visualizar", project_path(@team.project) %>
                <%# </td> %>

                <% if can? :update, Project %>
                  <td>
                    <%= link_to t('buttons.edit'), edit_project_path(@team.project) %>
                  </td>
                <% end %>

                <% if can? :destroy, Project %>
                  <td>
                    <%= link_to t('buttons.destroy'), project_path(@team.project), method: :delete, data: { confirm: t('messages.confirm') } %>
                  </td>
                <% end %>

              </tr>
            <% end %>
          </tbody>

        </table>

        <br><br>

        <% if can? :update, Team %>
          <%= link_to t('buttons.edit'), edit_team_path, class: "btn btn-primary" %> |
          <%= submit_tag "Editar usuários da equipe", class: "btn btn-default" %> |
        <% end %>
        <%= link_to t('buttons.back'),teams_path, class: "btn btn-success" %>

      </div>

    </div>
  </div>

<% end %>
