<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Editar Sprint</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <%= form_for(@sprint, html: {class: 'form-horizontal'}) do |f| %>
        <%= hidden_field_tag("project", @project.id) %>
        <% if @sprint.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-dismissible alert-danger">
              <p><h5> <%= "Existe(m) #{pluralize(@sprint.errors.count, 'erro(s)')} no formulário:" %></h5></p>
              <ul>
              <% @sprint.errors.full_messages.each do |message| %>
                <li><h6><%= message %></h6></li>
              <% end %>
              </ul>
            </div>
          </div>
          <br>
        <% end %>

        <fieldset>

          <div class="form-group">
            <label class="col-lg-2 control-label">Descrição: </label>
            <div class="col-lg-8">
              <%= f.text_field :description, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">

            <label class="col-lg-2 control-label">Início: </label>
            <div class="col-lg-2">
              <%= f.text_field :inicio, value: l(@sprint.inicio), class: 'form-control datepicker' %>
            </div>

            <label class="col-lg-2 control-label">Fim: </label>
            <div class="col-lg-2">
              <%= f.text_field :fim, value: l(@sprint.fim), class: 'form-control datepicker' %>
            </div>

          </div>

          <div class="form-group">

            <label class="col-lg-2 control-label">Pontos realizados: </label>
            <div class="col-lg-2">
              <%= f.number_field :pontos_atualizados, min: 0, class: 'form-control' %>
            </div>

          </div>

          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-2">
              <%= f.submit t('buttons.save'), class: "btn btn-primary" %> |
              <%= link_to t('buttons.back'), project_path(@project), class: "btn btn-success" %>
            </div>
          </div>

        </fieldset>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.datepicker').datepicker({
      todayBtn: true,
      language: "pt-BR",
      todayHighlight: true
    });
  });
</script>
