<div class="col-sm-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Visualização da Sprint</center></h3>
      </div>
    </div>

    <div class="panel-body">
      <span class="title">Descrição:</span> <%= @sprint.description %><br>
      <span class="title">Inicio:</span> <%=  l(@sprint.inicio) %><br>
      <span class="title">Fim:</span> <%=  l(@sprint.fim) %><br>
      <span class="title">Pontos cadastrados:</span> <%=  @sprint.pontos_cadastrados %><br>
      <span class="title">Pontos atualizados:</span> <%=  @sprint.pontos_atualizados %><br>

      <br><br>

      <% if can? :update, Sprint %>
        <%= link_to t('buttons.edit'), edit_sprint_path(@sprint), class: "btn btn-primary" %> |
      <% end %>
      <%= link_to t('buttons.back'), sprints_path, class: "btn btn-success" %>

    </div>

  </div>
</div>
