<div class="col-lg-9">
  <div class="panel">

    <div class="panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><center>Visualização do Projeto</center></h3>
      </div>
    </div>

    <div class="panel-body">

      <%# adicionado %>
      <ul class="breadcrumb" style="background-color: #3e3b3b;">
        <li><%= link_to "Projetos", projects_path %></li>
      </ul>

      <span class="title">Descrição:</span> <%= @project.description %> <br>
      <span class="title">Equipe:</span> <%= @project.team.description %> <br>

      <%# adicionado %>
      <hr style="border-top-color: dimgray;">
      <span class="title">Sprints:</span> <br><br>

      <%# adicionado %>
      <table class="table table-striped table-hover ">

        <thead>
          <tr>

            <th><center>Descrição</center></th>
            <th><center>Qtd. atividades</center></th>
            <th><center>Pontos planejados</center></th>
            <th width="150"></th>

          </tr>
        </thead>

        <%# aeditado %>
        <tbody>
          <% @project.sprints.each do |sprint| %>
            <tr>

              <td align="center">
                <%= sprint.description %>
              </td>

              <td align="center">
                <% activities = 0 %>
                <% sprint.activities.each do |activity| %>
                  <% if activity.project.id == @project.id %>
                    <% activities += 1 %>
                  <% end %>
                <% end %>
                <%= activities %>
              </td>

              <td align="center">
                <% pontos_cadastrados = 0 %>
                <% sprint.activities.each do |activity| %>
                  <% if activity.project.id == @project.id %>
                    <% pontos_cadastrados += activity.pontos_cadastrados %>
                  <% end %>
                <% end %>

                <%= pontos_cadastrados %>
              </td>

              <td align="center">
                <%= link_to "Visualizar", sprint_path(sprint, project: @project) %>
              </td>

              <% if can? :update, Sprint %>
                <td width="100" align="center">
                  <%= link_to t('buttons.edit'), edit_sprint_path(sprint, project: @project) %>
                </td>
            <% end %>

            <% if can? :destroy, Sprint %>
              <td width="100" align="center">
                <%= link_to t('buttons.destroy'), sprint_path(sprint, project:@project), method: :delete, data: { confirm: t('messages.confirm') } %>
              </td>
            <% end %>

            </tr>
          <% end %>
        </tbody>

      </table>

      <% if can? :create, Sprint %>
        <%= link_to t('buttons.new'), new_sprint_path(project: @project), class: "btn btn-primary" %>
      <% end %>
      <br><br><br><br>

      <% if can? :update, Project %>
        <td width="100" align="center">
          <%= link_to t('buttons.edit'), edit_project_path(@project), class: "btn btn-primary" %> |
        </td>
      <% end %>

      <%= link_to t('buttons.back'), projects_path, class: "btn btn-success" %>

    </div>

  </div>
</div>
